/*
   1.Root
   2.NavBar
   3.Preference Menu
*/

/*------------------------------------------1) Root------------------------------------------*/

@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";

:root {
  font-size: 16px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  /*light palette*/
  --light-main-clr: rgb(135, 152, 106);
  --light-primary-clr: rgb(151, 169, 124);
  --light-secondary-clr: rgb(181, 201, 154);
  --light-bg-clr: rgb(113, 131, 85);
  --light-text-clr: black;
  /*dark palette*/
  --dark-main-clr: rgb(73, 80, 87);
  --dark-primary-clr: rgb(108, 117, 125);
  --secondary-clr: rgb(173, 181, 189);
  --dark-bg-clr: rgb(33, 37, 41);
  --dark-text-clr: white;
}

@media (prefers-color-scheme: light) {
  :root {
    --main-clr: var(--light-main-clr);
    --primary-clr: var(--light-primary-clr);
    --secondary-clr: var(--light-secondary-clr);
    --bg-clr: var(--light-bg-clr);
    --text-clr: var(--light-text-clr);
    color-scheme: light;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-clr: var(--dark-main-clr);
    --primary-clr: var(--dark-primary-clr);
    --secondary-clr: var(--dark-secondary-clr);
    --bg-clr: var(--dark-bg-clr);
    --text-clr: var(--dark-text-clr);
    color-scheme: dark;
  }
}

body {
  background: var(--bg-clr);
  margin: 0;
  padding: 0;
}

main {
  margin-left: 5rem;
  padding: 1rem;
}

/*------------------------------------------2) NavBar------------------------------------------*/

.navbar {
  position: fixed;
  background-color: var(--primary-clr);
  transition: width 200ms ease;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-item {
  margin-top: 1em;
  width: 100%;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  font-size: 12px;
  font-weight: 500;
  color: var(--text-clr);
  text-decoration: none;
}

.link-text {
  display: none;
  margin-left: .5rem;
}

.nav-svg {
  margin: 0;
  stroke: black;
  fill: black;
}

/*------------------------------------------4) NavBar Animations------------------------------------------*/

.navbar:hover .link-text {
  display: block;
}

.nav-link:hover>svg * {
  fill: var(--main-clr);
}


/*------------------------------------------5) Banner------------------------------------------*/

.banner {
  border-bottom: 4px solid var(--main-clr);
}

.text-center,
.text-center p {
  font-family: fantasy;
  color: var(--dark-clr);
  font-size: 2em;
}

/*------------------------------------------6) NPC-Links------------------------------------------*/

.cards{
  margin:0 8em;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 250px;
  font-family: sans-serif;
}

.card{
  margin-top: 1em;
  width: 40ch;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.card__image{
  width: 100%;
  display: block;
}

.card__content{
  line-height: 1.5;
  font-size: 0.9em;
  padding: 15px;
  background: var(--primary-clr);
}

.card__content > p:first-of-type{
  margin-top: 0;
}
.card__content > p:last-of-type{
  margin-bottom: 0;
}

.card__info{
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #eeeeee;
  font-size: 0.8em;
  border-bottom: 2px solid #cccccc;
}

.card__info i{
  font-size: 0.9em;
  margin-right: 8px;
}

.card__link{
  color: var(--bg-clr);
  text-decoration: none;
  display: block;
}

/*------------------------------------------7) Media-Query------------------------------------------*/

/*Small Screens*/
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
    border-top: 4px solid var(--main-clr);
  }

  .navbar-nav {
    flex-direction: row;
  }

  .navbar svg {
    padding-bottom: .6em;
  }

  .nav-link {
    justify-content: center;
    padding-bottom: 1.5em;
  }

  main {
    margin: 0;
  }

  .navbar:hover .link-text {
    display: none;
  }

  .navbar img {
    padding-right: 1em;
  }

}

/*Large Screens*/
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
    border-right: 4px solid var(--main-clr);
  }

  .navbar:hover {
    width: 8rem;
  }

  .navbar:hover .link-text {
    display: inline;
    transition: opacity var(1000ms);
  }
}

/*d20 css*/


/*--------------------Chris' CSS-----------------*/


.modal {
  padding: 1em;
  max-width: 50ch;
  background-color: #757575;
  justify-content: center;
}

.ch-button {
  background-color: #4a515c;
  border-radius: 15px;
  color: rgb(255, 255, 255);
  padding: 1em;
  font: 1.2em "Fira Sans", serif;
}

dialog:modal {
  display: flex;
  flex-direction: column;
}

ch-a:visited {
  text-decoration: none;
  color: aqua;
}

ch-a:link {
  text-decoration: none;
}

ch-a:hover {
  text-decoration: none;
}

ch-a:active {
  text-decoration: none;
}

.ch-stats {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  width: fit-content;
  margin-inline: auto;
}



.center {
  display: flex;
  justify-content: center;
  width: 100%;
}

.ch-base {
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 2;
}

.ch-name {
  display: inline-flex;
}

.hp {
  display: grid;
  width: max-content;
  padding: .3rem .7rem;
  border-radius: 25%;
  text-align: center;
  color: white;
  font: 900 serif;
  background-color: rgb(10, 165, 165);
}

.save-throw {
  display: grid;
  grid-template-columns: 1fr 1fr;
}