*,
*::after
*::before
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root
{
    --dark-clr: rgb(48, 72, 82);
    --primary-clr: rgb(95, 129, 138);
    --light-clr: rgb(185, 219, 230);
}

/*------------------------------------------6) NPC-Cards-Styles------------------------------------------*/
.NPC-Stats
{
    list-style-type: none;
    padding: 0;
    font-weight: 600;
}

.Location::before
{
    content: "\f024";
    display: inline-block;
    font-family: FontAwesome;
}

.Status::before
{
    content: "\f54c";
    display: inline-block;
    font-family: FontAwesome;
}

.Affiliation::before
{
    content: "\f1b3";
    display: inline-block;
    font-family: FontAwesome;
}

.NPC-Cards
{
    background: var(--dark-clr);
    width: 100%;
    height: 100%;
}

.Card-Container
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
}

.card-content
{
    --padding: 1.5em;
    padding: var(--padding);
    background: linear-gradient(
        hsl(0%, 0%, 0% / 0),
        hsl(255, 0%, 0% / 0.3)20%,
        hsl(0%, 0%, 0% / 1)
    );
    color: white;
    justify-items: left;
}

.card
{
    color: var(--primary-clr);
    background-image: url(/Images/images.jpeg);
    background-size: cover;
    width: 40ch;
    height: 32ch;
    padding: 10rem 0 0;
    border-radius: 1rem;
    overflow: hidden;
    transition: transform 500ms ease;
    margin: 1.5em;
}

.card-title
{
    position: relative;
    color: white;
    width: max-content;
}

.card-title::after
{
    content: " ";
    position: absolute;
    height: 3px;
    left: calc(var(--padding) * -1);
    bottom: -2px;
    width: calc(100% + var(--padding));
    background: var(--light-clr);
    transform: scale(0);
    transform-origin: left;
    transition: transform 500ms ease;
}


.NPC-Card-Button
{
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: hsl(207, 19%, 9%);
    background-color: var(--light-clr);
    padding: 0.5em 1.25em;
    border-radius: 0.25em;
}


.card-body
{
    color: rgb(255, 255, 255 / 0.85);
}

@media(hover)
{
    .card-content
    {
        transform: translateY(68%);
        transition: transform 500ms ease;
    }
    .card:focus-within .card-content
    {
        transition-duration: 0ms;
    }
    .card:hover, .card:focus-within
    {
        transform: scale(1.02);
    }
    .card-content > *:not(.card-title)
    {
        opacity: 0;
        transition: opacity 500ms linear;
    }
    .card:hover .card-content > *:not(.card-title)
    {
        opacity: 1;
        transition-delay: 1000ms;
    }

    .card:hover .card-content > *:not(.card-title)
    {
        opacity: 1;
        transition-delay: 1000ms;
    }

    .NPC-Card-Button:hover,
    .NPC-Card-Button:focus{
    background-color: var(--primary-clr);
    }
    .card:hover .card-title::after,
    .card:focus-within .card-title::after
    {
        transform: scale(1);
    }
    .card:focus-within .card-content > *:not(.card-title)
    {
        opacity: 1;
        transition-delay: 200ms;
    }
    .card:hover .card-content,
    .card:focus-within .card-content
    {
        transform: rotateX(0);
        transition-delay: 500ms;
    }


}

@media(prefers-reduced-motion: reduce)
{
    *,
    *::after,
    *::before
    {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition-delay: 0ms !important;
    }
}




