/*
   1.Root
   2.NavBar
   3.Preference Menu
*/

/*------------------------------------------1) Root------------------------------------------*/

@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";

:root {
  font-size: 16px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  /*light palette*/
  --light-main-clr: rgb(135, 152, 106);
  --light-primary-clr: rgb(151, 169, 124);
  --light-secondary-clr: rgb(181, 201, 154);
  --light-bg-clr: rgb(113, 131, 85);
  --light-text-clr: black;
  /*dark palette*/
  --dark-main-clr: rgb(73, 80, 87);
  --dark-primary-clr: rgb(108, 117, 125);
  --secondary-clr: rgb(173, 181, 189);
  --dark-bg-clr: rgb(33, 37, 41);
  --dark-text-clr: white;
}

@media (prefers-color-scheme: light)
{
  :root
  {
    --main-clr: var(--light-main-clr);
    --primary-clr: var(--light-primary-clr);
    --secondary-clr:var(--light-secondary-clr);
    --bg-clr: var(--light-bg-clr);
    --text-clr: var(--light-text-clr);
    color-scheme: light;
  }
}

@media (prefers-color-scheme: dark)
{
  :root
  {
    --main-clr: var(--dark-main-clr);
    --primary-clr: var(--dark-primary-clr);
    --secondary-clr:var(--dark-secondary-clr);
    --bg-clr: var(--dark-bg-clr);
    --text-clr: var(--dark-text-clr);
    color-scheme: dark;
  }
}

:root[data-theme="light"]
{
  --main-clr: var(--light-main-clr);
  --primary-clr: var(--light-primary-clr);
  --secondary-clr:var(--light-secondary-clr);
  --bg-clr: var(--light-bg-clr);
  --text-clr: var(--light-text-clr);
  color-scheme: light;
}

:root[data-theme="dark"]
{
  --main-clr: var(--dark-main-clr);
  --primary-clr: var(--dark-primary-clr);
  --secondary-clr:var(--dark-secondary-clr);
  --bg-clr: var(--dark-bg-clr);
  --text-clr: var(--dark-text-clr);
  color-scheme: dark;
}

body {
  background: var(--bg-clr);
  margin: 0;
  padding: 0;
}

main {
  margin-left: 5rem;
  padding: 1rem;
}

/*------------------------------------------2) NavBar------------------------------------------*/

.navbar {
  position: fixed;
  background-color: var(--primary-clr);
  transition: width 200ms ease;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-item {
  margin-top: 1em;
  width: 100%;
}


.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  font-size: 12px;
  font-weight: 500;
  color: var(--text-clr);
  text-decoration: none;
}

.link-text {
  display: none;
  margin-left: .5rem;
}

.nav-svg{
  margin: 0;
  stroke: black;
  fill: black;
}

/*------------------------------------------3) Preference Menu------------------------------------------*/


/*------------------------------------------3.1) Preference Menu Open Button------------------------------------------*/
.open-button
{
  border: none;
  background: none;
}

.cog {
  transition: 1000ms ease;
  transition-delay: 2ms;
  fill: black;
  transition-delay: rotate 2s;
  transition: 2ss ease;
}

/*------------------------------------------3.2) Preference Menu Modal------------------------------------------*/

.modal::backdrop{
  background: rgb(0, 0, 0 / .17);
}

#modal h2 {
  display: inline-block;
  color: var(--text-clr);
  align-self: center;
  text-decoration: underline;
}

.modal {
  padding: 5em;
  max-width: 50ch;
  border: none;
  box-shadow: 0 0 1em var(--primary-clr);
}

/*------------------------------------------3.2) Preference Menu Theme Selector------------------------------------------*/
.theme-selector
{
  display: grid;
  place-items: center;
}

.theme-selector h3{
  color: var(--text-clr);
}

.theme-container
{
  display: flex;
  gap: 1rem;
}

.theme{
  border-radius: 100vmax;
  padding: .6em;
  display: grid;
  place-items: center;
}

.theme-selector h3::after {
  content: ":";
}

.theme-selector p {
  align-self: center;
  font-size: 1.8em;
  padding-left: .75em;
}

/*------------------------------------------4) NavBar Animations------------------------------------------*/

.navbar:hover .link-text {
  display: block;
}

.nav-link:hover > svg *{
  fill: var(--main-clr);
}

.cog:hover
{
  rotate: 180deg;
}

/*------------------------------------------5) Banner------------------------------------------*/

.banner {
  border-bottom: 4px solid var(--main-clr);
}

.text-center,
.text-center p {
  font-family: fantasy;
  color: var(--dark-clr);
  font-size: 2em;
}

/*------------------------------------------6) NPC-Links------------------------------------------*/

.NPCLinks {
  text-decoration: none;
  color: black;
}

.NPCLinks:hover {
  background: rgba(0, 0, 0, 0.45);
  font-weight: 500;
  color: rebeccapurple;
}

.card {
  padding-left: 1em;
  padding: .25rem;
  margin: .5em;
  height: fit-content;
  max-width: 25%;
  background: var(--bg-clr);
  border-radius: .5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  cursor: default;
}

.GroupID {
  display: block;
  justify-content: safe;
  margin-left: 3em;
  letter-spacing: .25rem;
}

.card-body {
  font-size: .9rem;
}

.card-header {
  font-size: 1.5rem;
  margin-bottom: .5rem;
}

.card-footer {
  margin-top: .5rem;
}

.btn {
  background: hsl(200, 50%, 50%);
  color: white;
  border: none;
  font-size: 1rem;
  margin-bottom: .5em;
  padding: .5rem .75rem;
  border-radius: .3rem;
  cursor: pointer;
}

.btn:hover, .btn:focus {
  background: hsl(200, 50%, 60%);
}

.card li {
  list-style-type: none;
  display: block;
  margin-bottom: 1.15em;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: center;
}

.slider {
  padding-left: 5em;
  display: flex;
  flex-grow: 1;
  width: calc(100% - 10rem);
  transform: translateX(-00%);
}

.handle {
  flex-grow: 0;
  width: 5rem;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 1rem;
  z-index: 10;
  margin: .25 0;
  cursor: pointer;
}

/*------------------------------------------7) Media-Query------------------------------------------*/

/*Small Screens*/
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
    border-top: 4px solid var(--main-clr);
  }

  .navbar-nav {
    flex-direction: row;
  }

  .navbar svg {
    padding-bottom: .6em;
  }

  .nav-link {
    justify-content: center;
    padding-bottom: 1.5em;
  }

  main {
    margin: 0;
  }

  .navbar:hover .link-text {
    display: none;
  }

  .navbar img {
    padding-right: 1em;
  }
}

/*Large Screens*/
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
    border-right: 4px solid var(--main-clr);
  }

  .navbar:hover {
    width: 8rem;
  }

  .navbar:hover .link-text {
    display: inline;
    transition: opacity var(1000ms);
  }
  .open-button {
    position: fixed;
    bottom: 0;
    left: .2em;
  }
  
}

/*--------------------Chris' CSS-----------------*/


.modal {
  padding: 1em;
  max-width: 50ch;
  background-color: #757575;
  justify-content: center;
}

.ch-button {
  background-color: #4a515c;
  border-radius: 15px;
  color: rgb(255, 255, 255);
  padding: 1em;
  font: 1.2em "Fira Sans", serif;
}

dialog:modal {
  display: flex;
  flex-direction: column;
}

ch-a:visited {
  text-decoration: none;
  color: aqua;
}

ch-a:link {
  text-decoration: none;
}

ch-a:hover {
  text-decoration: none;
}

ch-a:active {
  text-decoration: none;
}

.ch-stats {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.center {
  display: flex;
  justify-content: center;
  width: 100%;
}

.corestat {}