/*
   1.Root
   2.NavBar
   3.Dropdown
   4.Accordion
   5.Banner
   6.NPCLinks
*/

/*------------------------------------------1) Root------------------------------------------*/

@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";

:root {
  font-size: 16px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  --dark-clr: #212121;
  --primary-clr: #757575;
  --light-clr: #f0f5f9;
  --text-primary: #c9d6df;
  --text-secondary: #ececec;
  --bg-primary: #222831;
  --bg-secondary: #393e46;
}

body {
  color: black;
  background: var(--primary-clr);
  margin: 0;
  padding: 0;
}

main {
  margin-left: 5rem;
  padding: 1rem;
}

/*------------------------------------------2) NavBar------------------------------------------*/

.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 200ms ease;
}

.nav-item img {
  padding-left: 1rem;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link svg {
  min-width: 2rem;
  margin: 0 1.5rem;
}

.navbar img {
  width: 3rem;
  height: 3rem;
}

/*------------------------------------------3) NavBar Animations------------------------------------------*/

.navbar:hover .link-text {
  display: block;
}

.nav-link:hover {
  background: var(--bg-secondary);
}

/*------------------------------------------4) Banner------------------------------------------*/

.banner {
  border-bottom: 4px solid var(--dark-clr);
}

.text-center,
.text-center p {
  font-family: fantasy;
  color: var(--dark-clr);
  font-size: 2em;
}

/*------------------------------------------5) NPC-Links------------------------------------------*/

.NPCLinks {
  text-decoration: none;
  color: black;
}

.NPCLinks:hover {
  background: rgba(0, 0, 0, 0.45);
  font-weight: 500;
  color: rebeccapurple;
}

.card {
  padding-left: 1em;
  padding: .25rem;
  margin: .5em;
  height: fit-content;
  max-width: 25%;
  background: var(--bg-primary);
  border-radius: .5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  cursor: default;
}

.GroupID {
  display: block;
  margin-left: 3em;
  letter-spacing: .25rem;
}

.card-body {
  font-size: .9rem;
}

.card-header {
  font-size: 1.5rem;
  margin-bottom: .5rem;
}

.card-footer {
  margin-top: .5rem;
}

.btn {
  background: hsl(200, 50%, 50%);
  color: white;
  border: none;
  font-size: 1rem;
  margin-bottom: .5em;
  padding: .5rem .75rem;
  border-radius: .3rem;
  cursor: pointer;
}

.btn:hover, .btn:focus {
  background: hsl(200, 50%, 60%);
}

.card li {
  list-style-type: none;
  display: block;
  margin-bottom: 1.15em;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: center;
}

.slider {
  padding-left: 5em;
  display: flex;
  flex-grow: 1;
  width: calc(100% - 10rem);
  transform: translateX(-00%);
}

.handle {
  flex-grow: 0;
  width: 5rem;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 1rem;
  z-index: 10;
  margin: .25 0;
  cursor: pointer;
}

/*------------------------------------------6) Media-Query------------------------------------------*/

/*Small Screens*/
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
  }

  .navbar:hover .link-text {
    display: none;
  }

  .navbar img {
    padding-right: 1em;
  }

  .navbar img {
    padding-right: 1em;
  }
}

/*Large Screens*/
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 8rem;
  }

  .navbar:hover .link-text {
    display: inline;
    transition: opacity var(1000ms);
  }
}

/*--------------------Chris' CSS-----------------*/


.modal {
  padding: 1em;
  max-width: 50ch;
  background-color: #757575;
  justify-content: center;
}

.ch-button {
  background-color: #4a515c;
  border-radius: 15px;
  color: rgb(255, 255, 255);
  padding: 1em;
  font: 1.2em "Fira Sans", serif;
}

dialog:modal {
  display: flex;
  flex-direction: column;
}

a:visited {
  text-decoration: none;
  color: aqua;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.ch-stats {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.center {
  display: flex;
  justify-content: center;
  width: 100%;
}